h1{
    text-align: center;
    border: 2px solid black ;
    background-color: blueviolet;
    color: white;
    padding:5px ;
}

body{
    background-color: black;
}
p{
    color:white;
    border: 2px solid yellow;
    padding:15px;
    border-radius: 25px;
}
img{
   width:500px; 
   height:300px;
   display: block;
   margin: 0 auto;
   border: 5px double white;
   border-radius: 15px;
   padding:5px ;
}
